# the path to the gnucash file (sqlite format)
database: "/Users/mattburke/Documents/gnucash/test.gnucash"

# banks define matchers for csv files that we can process and tell us which preamble rows to skip
banks:
  - name: Discover
    match: "Discover-Statement-\\d+\\.csv$"
    # include the built in header row
    skip: 1
    # this means the csv is in Date,(ignored),Description,Amount,(ignored) columns. The date can be parsed using the provided C# format string
    headers: "{date:MM/dd/yyyy},_,{description},{amount},_"
    account: "Liabilities:Discover"
    # This tells how to intperpret positive vs negative amounts in the CSV. "credit" means any positive value in the CSV is the credit
    # side of the imported transaction. This results in needing to import to GnuCash using "Amount (negated)". "debit" means any positive value
    # is the debit side of the transaction, and would be imported to GnuCash simply as "Amount".
    sign_convention: "credit"

  - name: Bank of America
    match: "stmt-\\d+\\.csv$"
    skip: 7
    headers: "{date:MM/dd/yyyy},{description},{amount},_"
    account: "Assets:Bank of America"
    sign_convention: "debit"
